body {
  margin: auto;
  padding: 0 1em;
  min-width: 320px;
  max-width: 75em;
  font-family: "Roboto", "Helvetica", sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex: auto;
  align-items: center;
}

.link {
  padding: 0 1em;
  width: 5em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-area {
  display: flex;
  flex: initial;
  align-items: center;
}

.red-text {
  color: red;
}

.no-wrap {
  white-space: nowrap;
}

.restaurant-list {
  width: 20em; 
}

#map {
  min-height: 600px;
  min-width: 350px;
  flex-grow: 5;
}

.index-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  flex-direction: row;
  background: none;
  font-size: 2em;
  white-space: nowrap;
}

#searchBar {
    width: 90%;
    padding: 1em;
    margin-bottom: 1em;
}

#sort {
    padding: 0.5em;
}

#searchButton {
    margin-top: 1em;
    width: 90%;
    height: 3em;
}
