body {
  margin: auto;
  padding: 0 1em;
  min-width: 320px;
  max-width: 75em;
  font-family: "Roboto", "Helvetica", sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex: auto;
  align-items: center;
}

.link {
  padding: 0 1em;
  width: 5em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-area {
  display: flex;
  flex: initial;
  align-items: center;
}

.red-text {
  color: red;
}

.no-wrap {
  white-space: nowrap;
}
