{% extends "wrapper.html" %}
{% block title %}Create restaurant{% endblock %}
{% block content %}
<h2>Create restaurant</h2>
<form action="{{ url_for('restaurants.create') }}" method="POST">
  <label for="name">Name:</label> <br/>
  <input type="text" id="name" name="name" /> <br/>
  <label for="description">Description:</label> <br/>
  <input type="text" id="description" name="description" /> <br/>
  <label for="street_address">Street address:</label> <br/>
  <input type="text" id="street_address" name="street_address" /> <br/>
  <label for="postal_code">Postal code:</label> <br/>
  <input type="text" id="postal_code" name="postal_code" /> <br/>
  <label for="city">City:</label> <br/>
  <input type="text" id="city" name="city" /> <br/>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Create"/>
</form>
{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}
{% endblock %}
