{% extends "wrapper.html" %}
{% block title %}Restaurant app{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}
{% block content %}
<div class="index-wrapper">
  <div class="restaurant-list">
    <form action="/">
      <input id="searchBar" type="search" name="search" placeholder="Search" value="{{ request.args.get('search', '') }}"/>
      Sort by
      <select id="sort" name="sort">
        <option value="rating_desc" {% if request.args.get('sort') == 'rating_desc' %}selected{% endif %}>Highest rating first</option>
        <option value="rating_asc" {% if request.args.get('sort') == 'rating_asc' %}selected{% endif %}>Lowest rating first</option>
      </select>
      <input id="searchButton" type="submit" value="Search"/>
    </form>
    {% for restaurant in restaurants %}
    <a href="{{ url_for('restaurants.restaurant_page', restaurant_id=restaurant.id ) }}"><h3>{{ restaurant.name }}</h3></a>
    <b>{{ restaurant.average|round(1) }}/5</b>
    {% endfor %}
  </div>
  <div id="map">
    <script>
      var map = L.map("map").setView([60.170833, 24.9375], 12);
      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 15,
        attribution: "&copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>"
      }).addTo(map);
      var restaurants = {{ restaurants|tojson }};
      restaurants.forEach((r) => {
        L.marker([r.latitude , r.longitude], {
          icon: L.divIcon({
            className: "icon",
            html: `<a href="/restaurants/${r.id}"><p>🍴 ${r.name}</p></a>`
          })
        }).addTo(map);
      });
    </script>
  </div>
</div>
{% endblock %}
