{% extends "wrapper.html" %}
{% block title %}Sign up to restaurant app{% endblock %}
{% block content %}
<h2>Sign up</h2>
<form action="{{ url_for('auth.signup_submit') }}" method="POST">
  <label for="username">Username:</label> <br/>
  <input type="text" id="username" name="username" /> <br/>
  <label for="password">Password:</label> <br/>
  <input type="password" id="password" name="password" /> <br/>
  <input type="submit" value="Sign up"/>
</form>
{% if error %}
<p class="error">{{ error }}</p>
{% endif %}
{% endblock %}
