{% extends "wrapper.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
<h2>{{ user.username }}</h2>
<h3>Reviews by user:</h3>
{% for review in reviews %}
<h4><a href="{{ url_for('restaurants.restaurant_page', restaurant_id=review.restaurant_id) }}">{{ review.restaurant_name }}</a> - {{ review.stars }}/5</h4>
<p>{{ review.review }}</p>
{% if review.has_liked %}
<form action="{{ url_for('restaurants.unlike_review', restaurant_id=review.restaurant_id, review_id=review.id) }}" method="POST">
  Likes: {{ review.likes }}<input type="submit" value="Unlike" />
</form>
{% else %}
<form action="{{ url_for('restaurants.like_review', restaurant_id=review.restaurant_id, review_id=review.id) }}" method="POST">
  Likes: {{ review.likes }}<input type="submit" value="Like" />
</form>
{% endif %}
{% endfor %}
{% endblock %}
