<!DOCTYPE html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <div class="header">
    <h1>Restaurant app</h1>
    <div class="links">
      <a class="link" href="/">Home</a>
    </div>
    <div class="user-area">
      {% if session["username"] %}
        <p>Logged in as <b>{{ session["username"] }}</b></p>
        <a class="link" href="{{ url_for('logout') }}">Log out</a>
      {% else %}
        <a class="link" href="{{ url_for('login') }}">Log in</a>
        <a class="link" href="{{ url_for('signup') }}">Sign up</a>
      {% endif %}
    </div>
  </div>
  <hr />
  {% block content %}{% endblock %}
  <hr />
</body>
